<form class="user-registration-form">
  <mat-form-field class="user-registration-field">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Insert username" name="userName"
           [(ngModel)]="requestUserDto.username">
  </mat-form-field>

  <mat-form-field class="user-registration-field">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Insert password" id="password_input" name="password"
           [(ngModel)]="requestUserDto.password">
  </mat-form-field>

  <mat-form-field class="user-registration-field">
    <mat-label>Confirm password</mat-label>
    <input matInput type="password" placeholder="Confirm password" id="confirm_password_input" name="confirmPassword"
           [(ngModel)]="requestUserDto.confirmPassword">
  </mat-form-field>

  <mat-form-field class="user-registration-field">
    <mat-label>Roles</mat-label>
    <mat-select name="roles"
                [(ngModel)]="requestUserDto.roleName">
      <mat-option *ngFor="let role of roles" value="{{role.role}}">{{role.role}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button name="registerButton" (click)="register()">Create user</button>
</form>



