<div mat-dialog-content>
  Are you sure you want to delete this item?
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="handleDelete()"> Yes </button>
  <button mat-button mat-dialog-close> No, close window </button>
</div>
