<app-navigation></app-navigation>
<div class="example-container">
  <h2>To do</h2>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="itemToDoResponse"
    [cdkDropListConnectedTo]="[inProgressList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    id="TO_DO">
    <div class="example-box" *ngFor="let item of itemToDoResponse" cdkDrag>{{item.name}}
      <div>
        <button mat-icon-button color="primary" (click)="showDescription(item)">
          <mat-icon>subject</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="showDeleteDialog(item.id)">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>In Progress</h2>

  <div
    cdkDropList
    #inProgressList="cdkDropList"
    [cdkDropListData]="itemInProgressResponse"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    id="In_progress">
    <div class="example-box" *ngFor="let item of itemInProgressResponse" cdkDrag>{{item.name}}
      <div>
        <button mat-icon-button color="primary" (click)="showDescription(item)">
          <mat-icon>subject</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="showDeleteDialog(item.id)">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="itemDoneResponse"
    [cdkDropListConnectedTo]="[todoList, inProgressList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    id="Done">
    <div class="example-box" *ngFor="let item of itemDoneResponse" cdkDrag>{{item.name}}
      <div>
        <button mat-icon-button color="primary" (click)="showDescription(item)">
          <mat-icon>subject</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="showDeleteDialog(item.id)">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
