<app-navigation></app-navigation>
<form class="item-form">
  <mat-form-field class="name-field">
    <mat-label>
      Item Name
    </mat-label>
    <!-- ngModel trimite si primeste date, este two way [()]-->
    <textarea matInput class="name-textarea" [(ngModel)]="item.name" name="itemName"></textarea>
  </mat-form-field>

  <mat-form-field class="name-field">
    <mat-label>
      Item Description
    </mat-label>
    <!-- ngModel trimite si primeste date, este two way [()]-->
    <textarea matInput class="name-textarea" [(ngModel)]="item.description" name="itemDescription"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Item Status</mat-label>
    <mat-select [(ngModel)]="item.itemStatus" name="itemStatus">
      <!-- value este one way, doar trimite []-->
      <mat-option *ngFor="let status of statusArray" [value]="status.toString()">
        {{translationMap[status.toString()]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button color="primary" (click)="save()">Save</button>
  <button mat-stroked-button color="primary" (click)="loadItems()">Load Items</button>
</form>
